.hero {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 53px;
}
/* children --> */
.hero__banner_large {
  max-width: 899px;
  width: 100%;
  border-radius: 16px;
  padding: 40px;
  background-color: #f2f5f9;
}
.hero__banner_large h1 {
  font-size: 48px;
  font-size: clamp(20px, 5vw ,48px);
  font-weight: 800;
  line-height: 72px;
  margin-bottom: 32px;
  color: #0f1113;
}
.hero__banner_large h1 span,
.hero__banner_small h2 span {
  color: #ff4d4d;
}
.hero__banner_small {
  max-width: 509px;
  width: 100%;
  z-index: 10;
  border-radius: 16px;
  padding: 40px;
  background-color: #f2f5f9;
  position: relative;
}
.bg__banner_small {
    position: absolute;
    z-index: -1;
    width: 200px;
    height: 100%;
    background: url("../assets/images/iphone.png") #f2f5f9 50% no-repeat;
    background-blend-mode: darken;
    background-position-y: bottom;
    bottom: 0; 
    right: 44px;
}
.hero__banner_small h2 {
  margin-bottom: 40px;
  font-size: clamp(20px, 6vw ,40px);
  font-size: 40px;
  font-weight: 800;
  line-height: 58px;
}



@media (max-width: 1024px) {
    .hero {
        flex-direction: column;
        row-gap: 12px;
    }
}

@media (max-width: 768px) {

}

@media (max-width: 245px) {
    .bg__banner_small {
        background-size: 135px;
    }
}